[Unit]
Description=MHP DAS conversion script

[Install]
WantedBy=default.target

[Service]
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
# Source Poetry env path and run mqtt_wireless_logger.py without spawning a new shell
ExecStart=/bin/bash -c 'eval "$($HOME/.pyenv/bin/pyenv init -)" && $($HOME/.poetry/bin/poetry env info -p)/bin/python log_2_excel.py --host "mhp-v3-primary.local"'