[Unit]
Description=MHP DAS logger

[Install]
WantedBy=default.target

[Service]
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
# Source Poetry env path and run mqtt_wireless_logger.py without spawning a new shell
ExecStart=/bin/bash -c 'eval "$($HOME/.pyenv/bin/pyenv init -)" && $($HOME/.poetry/bin/poetry env info -p)/bin/python V3_mqtt_recorder.py /v3/wireless_module/+/#'
