[Unit]
Description=MHP Radio bridge software

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
RestartSecs=10
ExecStart=/home/pi/data-acquisition-system/Bridge/build/ZetaBridge bike mhp-v3-primary.local
